:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --main-bg-color: #E5E5E5;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --logo-web-color: #2196F3;
    --logo-web-color-2: #000000;
    --footer-bg-color: #2F303A;
    --buttons-color: #F5F4FA;
    --botom-contact-color: #FFFFFF99;
    --icon-color: #AFB1B8;
    --shadow-main-button: #00000026;
    --shadow-img-1: #00000033; 
    --shadow-img-2: #00000024; 
    --shadow-img-3: #0000001F; 
    --shadow-img: #2F303A66;
    --shadow-por-1: #00000029;
    --shadow-por-2: #0000000F;
    --shadow-por-3: #0000001F;
    --button-shadow-1:#0000001F;
    --button-shadow-2: #00000014;
    --button-shadow-3: #0000001A;
    --shadow-icon-footer: #FFFFFF1A;
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

h1,
h2,
h3,
p {
        margin: 0px;
}   

body{
        font-family: var(--main-font-family);
        color: var(--primary-text-color);
        background-color: var(--primary-bg-color);
        font-size: 14px;
}

section {
        padding-top: 94px;
        padding-bottom: 94px;
}
a {
        text-decoration: none;
        margin: auto;
        color: transparent;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

.container {
        padding: 0 15px;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
}
.page-header {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        padding-top: 24px;
}
.web {
        font-family: var(--secondary-font-family);
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing:  0.03em;
        color: var(--logo-web-color);

}
.web-studio-link{
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        text-decoration: none;
        font-family: var(--secondary-font-family);
        font-weight: 400;
        font-size: 26px;
        line-height: 1.38;
        letter-spacing: 0.03em;
        color:var(--logo-web-color-2);
}

.main-button {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-evenly;
        gap: 96px;
}
.site-link{
        display: flex;
        list-style-type: none;
        gap: 46px;
}
.contact-links {
        list-style: none;
        gap: 50px;
}

.nav-link:link {
        color: var(--primary-text-color);
}

.nav-link,
.site-link {
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: var(--primary-text-color);
                font-style: normal;
        }

.mail,
.tel {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        font-style: normal;
}

.mail:link{
        color: var(--title-text-color);
}

.tel:link {
        color:var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
        color: var(--logo-web-color);
}

.contact-button {
        list-style: none;
        text-decoration: none;
        margin-left: auto;
        justify-content: space-between;
        display: flex;
        gap: 50px;
        color: var(--title-text-color);
        font-style: normal;
}

.contact-button li:hover svg {
        fill: var(--logo-web-color);
        cursor: pointer;
}
.contact-button li:hover a {
        color: var(--logo-web-color);
        cursor: pointer;
}

.icons-contact {
        margin-right: 10px;
}

.big-header{
        border-top: 1px solid #ECECEC;
        background-color: var(--footer-bg-color);
        justify-content: center;
        background-image: linear-gradient(
                        var(--shadow-img),
                        var(--shadow-img)),
                url("../images/mainphoto.jpg");
                max-width: 1600px;
                margin: 0 auto;
        }

.top-button {
        border-top: 1px solid #ECECEC;
}
.big-title {
        display: flex;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        color: var(--primary-bg-color);
        text-align: center;
        text-transform: uppercase;
        flex-wrap: wrap;
        width: 696px;
        margin: auto;
        padding-top: 106px;
        padding-bottom: 30px;
}
.button-menu {
        display: flex;
        color: var(--primary-bg-color);
        background-color: var(--logo-web-color);
        font-weight: 700;
        line-height: 1.87;
        font-size: 16px;
        letter-spacing: 0.06em;
        border: none;
        border-radius: 4px;
        padding: 10px;
        width: 200px;
        margin: 0 auto 106px auto;
        justify-content: center;
}

.button-menu:focus,
.button-menu:hover {
        box-shadow: 0px 4px 4px var(--shadow-main-button);
}

.rectangle {
        display: flex;
        width: 270px;
        height: 120px;
        background: var(--buttons-color);
        margin-right: auto;
}

.lorem-icon {
        display: flex;
        align-items: center;
        padding: 25px 100px;
}


.our-section-list-list {
        display: flex;
        margin: 0px;
        justify-content: space-between;
        gap: 30px;
        word-wrap: normal;
        flex-wrap: wrap;
        padding-bottom: 94px;
}
.our-section-list {
        list-style: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 10px;
        flex-flow: wrap;
}
.our-section-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        flex-flow: wrap;
}

.our-section-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        line-height: 1.71;
        width: 270px;
}
.third-header{
        background-color: var(--main-bg-color);
}
.our-section-title-2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        text-align: center;
        margin-bottom: 50px;
        
}

.main-images {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        gap: 30px;
}

.team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-bg-color);
}
.socialmedia-icons {
        fill: var(--icon-color);
        background-color: var(--primary-bg-color);
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding-bottom: 18px;
}
.icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 44px;
}

.one-social-icon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 44px;
        height: 44px;
        fill: var(--main-white);
        border-radius: 50%;
}

.one-social-icon:hover,
.one-social-icon:focus {
        background-color: var(--logo-web-color);
        fill: var(--primary-bg-color);
}

.set-buttons,
.button {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 8px;
        padding-bottom: 50px;
}
.card-set-photo {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        margin: 0 auto;
}

.card-set-item:hover,
.card-set-item:focus{
        box-shadow: 0px 1px 1px var(--shadow-por-3), 0px 4px 4px var(--shadow-por-2), 1px 4px 6px var(--shadow-por-1);
}

.border-photo {
        border: 1px solid #EEEEEE;
}

.client-name{
        font-weight: 700;
        letter-spacing: 0.06em;
        padding: 20px 0 4px 24px;
        line-height: 2em;
}

.client-service {
        line-height: 1.875em;
        padding: 0 0 20px 24px;
        color: var(--title-text-color);
}

.team-images {
        list-style: none;
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        gap: 30px;
}

.team-name-item{
        box-shadow: 0px 1px 3px var(--shadow-img-3), 0px 1px 1px var(--shadow-img-2), 0px 2px 1px var(--shadow-img-1);
}
.team-name{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
}
.team-position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        background-color: var(--primary-bg-color);
        max-width: 100%;
        text-align: center;
        padding-bottom: 16px;
}

.icons-company-customers {
        display: inline-flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 30px;
}

.rectangle2 {
        list-style: none;
        width: 170px;
        height: 92px;
        margin-right: auto;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        flex-wrap: wrap;
}

.icons-company{
        width: 106px;
        height: 60px;
        margin-top: 20px;
        fill: var(--icon-color);
        flex-wrap: wrap;
}

.icons-company:hover,
.icons-company:focus {
        color: var(--logo-web-color);
        fill: var(--logo-web-color);
        background-color: var(--primary-bg-color);
}

.rectangle2:focus, 
.rectangle2:hover {
        color: var(--logo-web-color);
        fill: var(--logo-web-color);
        background-color: var(--primary-bg-color);
        border-color: var(--logo-web-color);
}


.studio-name-footer{
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        font-weight: 400;       
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: var(--primary-bg-color);
}
.bottom-contact-adress {
        list-style: none;
        font-style: var(--main-font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--primary-bg-color);
        display: block;
        margin-right: 20px;
}

.buttons {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--buttons-color);
        border-radius: 4px;
        border: none;
        padding: 6px 22px;
}
.buttons:hover,
.butons:focus {
        color: var(--primary-bg-color);
        background-color: var(--logo-web-color);
        box-shadow: 0px 3px 1px var(--button-shadow-3), 0px 1px 2px var(--button-shadow-2), 0px 2px 2px var(--button-shadow-1);
}
.buttons,
.button-menu {
        cursor: pointer;
}

.address-footer a {
        text-decoration: none;
        color: var(--botom-contact-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        display: block;
}

.address-footer a:hover {
        color: var(--logo-web-color);
}
.last-section {
        background: #2f303a;
        height: 252px;
}
.two-blocks {
        display: flex;
}
.footer-address {
        padding-top: 60px;
}
.link-footer {
        padding-top: 20px;
        display: block;
}
.social-icon-footer {
        width: 206px;
        height: 80px;
        margin-top: 72px;
        margin-left: 70px;
}
.join-us {
        color: var(--primary-bg-color);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: left;
        margin-top: 0;
        margin-bottom: 20px;
}
.footer-list-icon {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0;
        margin-top: 20px;
}

.icon-group-footer {
        list-style: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--shadow-icon-footer);
        fill:var(--primary-bg-color);
}

.mail-footer {
        padding-bottom: 9px;
        padding-top: 9px;
        text-decoration: none;
        color: var(--primary-text-color);
}

a:link {
        text-decoration: none;
        color: var(--primary-bg-color);
        font-style: normal;
}